[2015-03-31 13:57] aweiteka opened #6 "Rename Atomicfile"
`Atomicfile` is an interesting name but too specific to project atomic. As a specification we need another filename.

[2015-03-31 13:58] aweiteka opened #7 "Consider how environment variables will be supported"
Many applications rely on environment variables. We need to consider what mechanism will support this and incorporate into `params.conf`.

[2015-03-31 14:03] aweiteka opened #8 "Rename specification repository"
"containerapp-spec" is probably not a good name. It's too similar to AWS' [AppSpec](http://docs.aws.amazon.com/codedeploy/latest/userguide/app-spec-ref.html) and CoreOS' [App Container Spec](https://github.com/appc/spec/), which is the basis for Rocket.

[2015-03-31 14:06] aweiteka opened #9 "Determine provider layout"
For v1 we need to flesh out how providers are specified.
- Should providers be specified as a magically named directory?
- Should the provider type be part of a data structure?

[2015-03-31 14:08] aweiteka opened #10 "Determine initial scope of graph"
Currently there's a simple list that defines the "graph." Is this sufficient for the initial v1 proposal?

[2015-03-31 17:48] vpavlin commented on #10
I think the answer is yes. The only problem I see at the moment is specifying correct app image - i.e. `mariadb-app` leads to `docker.io/library/mariadb-app`. To say you want something else, you need to specify it as `myrepo/app_name`, which might be fine, although I find nesting more readable in this case:

[code]

and automatically enables us to extend in future

[code]

Which could be a simple

[2015-03-31 17:50] vpavlin commented on #8
What about something mentioning "deployment" because the main content of the app image is a description of how to deploy this particular app (f.e. k8s files)

[2015-03-31 17:56] vpavlin commented on #7
I am not sure if I understand this correctly - is the question "How to use env vars to override params.conf?", or "How to set environment variables from params.conf?"

I guess the former..then I can imagine

component params.conf -> app params.conf -> environment variables -> answers file (this end is what the app uses in the end)

Variables could be in form:

[code]

[2015-03-31 17:57] vpavlin commented on #6
IMO depends heavily on #8

[2015-03-31 23:19] langdon opened #11 "Graph including "docker username" during dev"
While I am developing my sub-apps for my overall-app, I want to be able to use the "name that will appear in the registry" without having done a push to the registry yet in the graph.

e.g.
  "graph": [ "my-user/redis-app", "my-app" ]

but, on disk, it is graph/my-user-redis-app? or graph/my-user.redis-app? or graph/my-user/redis-app ? because I haven't pushed it to the registry yet.

[2015-04-01 01:56] aweiteka commented on #11
Maybe `docker tag` would support this workflow? Do a local docker build, tag it, then it will be named the right thing but be local on the box.

[2015-04-01 14:53] langdon commented on #11
Arguably. I guess when I was trying it last night (fooling around with Hubot), I didn't even have a dockerfile yet. I was just trying to get the directory structure created and my Atomicfiles created. After that, I would go in to do the individual Dockerfiles. So, even with docker tag, for me, the default order of operations was wrong.

[2015-04-05 14:02] jayunit100 opened #12 "Make json spec valid"
default impl uses invalid json...

[code]

so, to fix this ... we need to do 3 things:
1. define the json schema to be valid
2. add the json files into this repo (right now theyre empty). invalid json is impossible to format using std json tools.
3. update the impl  https://github.com/vpavlin/atomicapp-run/issues/4, to implement that spec.

[2015-04-16 12:48] aweiteka commented on #8
[Nulecule](http://simpsons.wikia.com/wiki/Made-up_words)!

[2015-04-16 13:28] aweiteka opened #18 "How to define providers and extensions"
How much do we need to define for specific providers and extensions? Are these defined externally to the spec or does it need to be consolidated here?

[2015-04-16 15:02] tradej commented on #18
I believe there should indeed be an easy way to add information for other programs, e. g. in a form of extensions, mentioned in the spec. For example making it a requirement in the spec that parsing mustn't be strict should prevent a lot of problems with extensibility in the future IMO.

Speaking from the point of DevAssistant, we are very open to taking as much metadata from the Atomicfile as pos

[2015-04-16 17:47] aweiteka opened #19 "Maintainers and PR review"
We need to ensure changes to the spec are reviewed carefully and consider impact to implementations.

@goern would you be able to review pull requests?
@vpavlin would you be able to review pull requests?

[2015-04-16 17:57] goern commented on #19
ACK

[2015-04-16 18:11] langdon commented on #19
Fixed up the perms to make @goern, @vpavlin, @aweiteka committers in a group called nulecule (in case we need more projects later).

[2015-04-16 18:13] aweiteka commented on #19
@whitel thanks!

[2015-04-16 18:17] aweiteka opened #21 "Support localization/internationalization in decription field"
This from veillard@redhat.com: provide provision for localization of the description fields, something along the lines of:

[code]

[2015-04-16 18:56] vpavlin commented on #19
ACK

[2015-04-16 18:57] vpavlin commented on #6
Are we going to rename to Nulecule? Or Nulecule.yaml or...?

[2015-04-16 18:59] vpavlin commented on #11
This has changed now - you have either the extrnal source `source: docker://...` or a component of your Nulecule app..so I thing this is basically fixed in 1.0.0 " by design"

[2015-04-16 19:16] langdon commented on #6
The proposal on the call this (my) morning was "nulecule" (no extension, lowercase)

[2015-04-16 19:16] #19 closed, assigned to nobody

[2015-04-16 19:17] vpavlin commented on #6
Sounds good to me

[2015-04-16 19:17] #11 closed, assigned to nobody

[2015-04-16 19:19] aweiteka commented on #6
-1 on nulecule. IMO it's just a silly name for a spec, not something devs should have to know how to spell.

What's wrong with `template.yaml` or `template.json`?

[2015-04-16 19:25] vpavlin commented on #6
Does the word `template` realy describe that it's an app definition? Also let's keep it extension agnostic, if possible..

What about just a file called `nc`?

[2015-04-17 08:41] goern commented on #6
So it's `Atomicfile` for historical reason, `nulecule` because we-1 like it ... but why lowercase?

[2015-04-20 21:32] ncoghlan commented on #6
I have to weigh in with a "What?" reaction to "nulecule". I know naming things is hard, but that one's taking the made up words thing too far :)

Could we perhaps instead opt for something boringly descriptive like "Deployment.yaml"? (referred to as a "deployment file")

[2015-04-21 09:10] tradej commented on #6
-1 to `[Nn]ulecule`. While it's cute as a project name/trademark, it should be obvious even to unaffiliated people what the file contains. `deployment.yaml` looks reasonable, I suggest `application.yaml` (`app.yaml` is widely used by Google).

[2015-04-21 09:54] goern commented on #6
so lets make it a list of files that are valid: nulecule, Nulecule, Atomicfile, deployment.yaml, app.yaml, application.yaml

[2015-04-22 11:55] hroncok opened #23 "It is not clear what the prescribed format of license name is"
In the License Object, there is a name field that says:

However, it is not clear what format of the name should be used. Such as, for example:
- GNU GPL, Version 3
- GNU GPL version 3
- GNU GPL 3
- GNU General Public License, version 3 or later

In example _GNU GPL, Version 3_ is used. Is the format required? Optional? What about other licenses?

[2015-04-22 12:32] #23 closed, assigned to nobody

[2015-04-22 17:26] aweiteka commented on #8
Based on initial feedback, the name **nulecule** isn't working on so many levels.

[2015-04-23 17:20] TomasTomecek opened #26 "`allowed_pattern` in readme has incorrect description"
`allowed_pattern` in readme has incorrect description. In schema it is correct. Can file a pr once i get to my laptop.

[2015-04-23 17:55] aweiteka commented on #8
Further discussion... we'll stick with **Nulecule**, expecting implementations to use their own terminology. For example, Atomic host will reference "Atomic App". Nulecule is just a spec, not an implementation that end-users will only reference for development purposes.

[2015-04-23 17:55] #8 closed, assigned to nobody

[2015-04-23 19:52] goern commented on #26
should be fixed by #28

[2015-04-24 13:21] vpavlin commented on #6
Any ideas how to close this?Schema references Atomicfile, containerapp uses nuleculefile atm...

[2015-04-24 13:25] johnmark commented on #6
Can we just go with app.yaml? Nulecule is just a spec, not an implementation. -1 on nulecule.

[2015-04-24 13:35] goern commented on #6
I think app.yaml is pretty collision prone, it could be some left over artifact from a lazy ISV that just build a Nulecule compliant Atomicapp layered image...
Why dont we make it a list of valid and checked filenames? Something like: nulecule, Nulecule, Atomicfile, deployment.yaml, app.yaml, application.yaml ...

[2015-04-24 13:37] #26 closed, assigned to nobody

[2015-04-24 13:40] #10 closed, assigned to nobody

[2015-04-24 13:41] #9 closed, assigned to nobody

[2015-04-24 13:42] aweiteka commented on #12
Current v0.0.1-alph is valid json.

[2015-04-24 13:42] #12 closed, assigned to nobody

[2015-04-26 10:45] ncoghlan commented on #6
We need to pick one to use in examples, reference projects, etc. Being permissive just breeds confusion where there doesn't need to be any.

For me, the key thing we're describing in the spec is how to _deploy_ the application, moreso than defining the application itself. In particular, we're parameterising that description, so different deployments can readily tailor it to their environment witho

[2015-04-28 10:32] goern opened #30 "RFE: put together some good practice how to build an Atomicapp"

[2015-04-28 18:31] aweiteka opened #32 "Maintain single spec file"
Currently we have both a human-readable README and a machine-readable JSON file to describe the specification. With some extension we could put all of the additional data from the README into the JSON and create a parser script to render it.

[2015-04-30 09:04] tradej commented on #6
I agree with only one name being recognized. Shall we have a poll to establish which one it should be?

[2015-04-30 13:42] aweiteka commented on #32
Approach: add `--format` option to `compose.py` https://github.com/projectatomic/nulecule/blob/master/spec/0.0.1-alpha/compose/compose.py

[code]

For completeness we also need to add some arbitrary text to the schema file such as [Introduction](https://github.com/projectatomic/nulecule/blob/master/spec/0.0.1-alpha/README.md#introduction) and [Data types](https://github.com/projectatomic/nulecule/

[2015-04-30 13:57] vpavlin commented on #32
We will probably need either extend `description` in schema or introduce new keys like `doc_text`...any thoughts about preferred approach?

[2015-04-30 17:33] aweiteka commented on #32
Good idea. I think `doc_text` is best alongside some top-level data for Intro text, etc.

[2015-05-04 14:55] aweiteka opened #35 "Use list of apps instead of magic key naming"
Looking at a [Kubernetes API issue](https://github.com/GoogleCloudPlatform/kubernetes/issues/2004) they point out the potential for confusion when using arbitrary names for keys. Consider A vs B:

A, current spec:

[code]

B, proposed

[code]

I think B is clearer that we're not doing something magic with the keys; They're just arbitrary names. Note we would have to bump the spec version with this

[2015-05-04 15:14] vpavlin commented on #35
I guess this would be also case for params. Not sure if anything else carries same semantics, but I'd say components and params are the only ones we designed this way

[2015-05-05 08:09] TomasTomecek opened #37 "expand source definition of an application"
We had a brief chat with @vpavlin and @kbsingh today.
It could be great if application source could be specified by:
- git url
- git branch
- path to source within git repo

Then the application could be built straight from sources (and e.g. fed into build system).

[2015-05-05 12:33] goern commented on #37
That information could be provided by now using an URL like `https://github.com/goern/oh-my-vagrant/tree/feature/ansible_extra_vars/vagrant/docker`. But I see what you say: git url is mandatory, git branch is `master` if not set otherwise, path to source is `/` or the repository if not set otherwise.

Seems a reasonable extension of the spec.

[2015-05-05 16:38] TomasTomecek commented on #37
And to follow up a bit, there could also be an application type in there:
- docker
- appc
- ...

Meaning, we would know that if the type is docker, we might expect a file called dockerfile and we would know, how to handle it.

[2015-05-07 12:11] aweiteka commented on #35
As a user I was a bit confused about which key to use for params, so I agree. So if we have the same treatment for params...

[code]

[2015-05-07 13:22] goern commented on #6
as of the container-tools standup today, we call the manifest file, that described how to deploy: `nulecule`

[2015-05-07 13:22] #6 closed, assigned to nobody

[2015-05-08 12:35] #35 closed, assigned to nobody

[2015-05-09 02:01] aweiteka commented on #37
There's also the `curl` or `wget` style of pulling in remote files such as https://raw.githubusercontent.com/GoogleCloudPlatform/kubernetes/master/examples/pod.yaml

I'm not sure we call out the various protocols supported.

[2015-05-09 17:11] vpavlin opened #45 "Get back the definition of files the nulecule app consists of"
With the move to the JSON Schema we lost the definition of files/dirs and it's content which was previously specified in the `schema.json`. I think it was useful - for example generation of `Dockerfile` was very easy that with it. Can we think about where/how to specify it again?

[2015-05-11 09:09] #30 closed, assigned to nobody

[2015-05-14 14:37] aweiteka commented on #32
Consider https://github.com/swagger-api/swagger-spec

[2015-05-14 19:48] aweiteka commented on #7
This issue has not actually come up yet in any known example. Closing.

[2015-05-14 19:48] #7 closed, assigned to nobody

[2015-05-15 13:53] aweiteka opened #60 "Expand artifacts source methods"
We want to be able to use remote provider artifacts for several reasons:
- there are typically external sources for provider files (for example, [docker compose](https://github.com/stackforge/kolla/tree/master/compose), [kubernetes](https://github.com/GoogleCloudPlatform/kubernetes/tree/master/examples))
- if remote sources exist we don't want to clone and maintain them separately
- remote source

[2015-05-15 13:56] aweiteka commented on #60
@tradej could you take a look at this?

[2015-05-15 15:29] markllama opened #64 "Proposal: Mechanism for binding unbound variables in Kubernetes templates"
Nulecule needs a standardized mechanism for replacing unbound variables in the Kubernetes data structure templates which define a complex application in Kuberentes.

This proposal offers a suggestion for both the mechanics of inserting variables into the Kubernetes templates and for a way for Nulecule developers to indicate to application consumers what variables remain unbound and must be resolve

[2015-05-18 13:35] aweiteka opened #67 "Define service dependencies"
My app depends on a service (e.g. SkyDNS). I want to define it as a dependency and deploy if not available on my cluster. If the service is active on my cluster, do nothing.

Questions
- How does openshift deal with this?
- Is there any upstream kubernetes work in this area?

[2015-05-20 10:03] vpavlin opened #70 "[epic] Rework params to support xpath-like replacing and non-scalar values"
## Problem statement

Currently params work with simple substitution. You need to specify the param name prefixed with `$` in the artifact and it's then replaced with the value given either by default, answers file or by the user in case of interactive mode. This is a problem because a developer of nulecule application has to modify (upstream) kube files and replace real values with something like

[2015-05-20 12:58] aweiteka commented on #70
Related https://github.com/projectatomic/nulecule/issues/64

[2015-05-20 13:00] aweiteka commented on #60
Duplicate of https://github.com/projectatomic/nulecule/issues/37

[2015-05-20 13:01] aweiteka commented on #18
@tradej is this question satisfied for now? Can we close?

[2015-05-20 13:07] aweiteka opened #72 "Consider the OpenStack Murano story"
http://murano.readthedocs.org/en/stable/
- Can we support Murano as a provider?
- Could Nulecule support be added into the Murano app catalog?

[2015-05-20 18:15] goern commented on #70
do you guys think we should put that in the Summit release? I think so...

[2015-05-20 18:19] goern commented on #67
I added a trello card (https://trello.com/c/qEdEmQJU) so that we can assign someone, maybe not from the core team?! ;)

[2015-05-20 18:20] goern commented on #45
has this been fixed?

[2015-05-20 18:27] vpavlin commented on #45
no

[2015-05-20 18:28] vpavlin commented on #70
I think so too

[2015-05-20 18:56] markllama commented on #70
If possible.  I sure would like it as soon as is reasonable.

On Wed, May 20, 2015 at 2:28 PM, Vaclav Pavlin notifications@github.com
wrote:

##

---

Mark Lamourine markllama@gmail.com
Dad, Hubbie, Software Developer, System Administrator, Road Cyclist

[2015-05-21 15:39] tradej commented on #18
Yes, the spec allows for additional metadata, so I believe this is okay.

[2015-05-21 15:39] #18 closed, assigned to nobody

[2015-05-21 15:47] tradej commented on #60
I believe it's just a typo, but for clarity. For the single file (remote or local) It should be:

[code]

and in a special case:

[code]

This allows for support of other versioning systems as well (Mercurial, CVS). Based on the `type`, the appropriate keys and values will be used by the library.

[2015-05-21 15:50] vpavlin commented on #60
It was not a typo, but you are right, we should be able to support more than git if it's a requirement in the future

[2015-05-21 15:52] vpavlin commented on #60
Ah, sorry, I thought you were commenting my epic issue..

[2015-05-21 16:00] vpavlin commented on #60
Please have a look at #70 - I have a `commit` instead of `branch`.

[2015-05-21 16:02] tradej commented on #45
Am I understanding the issue correctly, believing that we want to store information about what the allowed layout of the filesystem is?

Examples:

_Allowed layout_

[code]

_Disallowed layouts_

[code]

[code]

[2015-05-21 16:06] vpavlin commented on #45
Sort of...I would skip artifacts dir, but I think that following should be required:

[code]

[2015-05-21 16:19] tradej opened #75 "Spec has "value" keys instead of "default""
When fixing the doc for JSON Schema compatibility, I forgot to change some occurrences of `"value"` keys to `"default"`, as specified in the [schema](http://json-schema.org/latest/json-schema-validation.html#anchor101). This should be fixed everywhere.

[2015-05-21 16:30] tradej commented on #45
Can we then just put somewhere a list of (expandable) filenames that will be tested for existence with e. g. `test -f` or `os.path.isfile`? Additionally, entries ending with a slash could be understood as directories and handled appropriately.

This approach would work only as an implication, i. e. it wouldn't forbid files from residing somewhere, only mandate that some other files do. Is that the

[2015-05-21 16:41] tradej commented on #70
Just wondering - why does the `artifacts` object contain an array instead of another object? shouldn't it be like this?

[code]

[2015-05-21 16:49] vpavlin commented on #70
I am wondering the very same thing atm as I was looking at rework of atomicapp to comply with 0.0.2 - we changed components and params to be a list to get rid of magic keys..shouldn't we do the same for providers? Although that would have to be

[code]

@aweiteka @goern Are you ok with using provider names as keys here? Or should we also change it to a list?

[2015-05-21 17:25] goern commented on #45
Ja, `Nulecule` is a required file and must carry a JSON or YAML formated Nulecule compliant description of an Application, `Dockerfile` is required and must declare all files that need to be packaged as a docker image. `README.md` is optional and may contain a human readable description of the Application.

[2015-05-21 17:28] markllama commented on #70
using names as keys breaks schema validation, doesn't it?

array of things with one attribute "name: foo" or .... .not sure

On Thu, May 21, 2015 at 12:49 PM, Vaclav Pavlin notifications@github.com
wrote:

##

---

Mark Lamourine markllama@gmail.com
Dad, Hubbie, Software Developer, System Administrator, Road Cyclist

[2015-05-21 17:30] goern commented on #70
ja, there shall be no magic key as of #35

[2015-05-22 06:35] goern opened #77 "move getting-started-guid to projectatomic.io"
We should consider moving the Getting Started Guide over to projectatomic.io when there is a /nulecule/ space on that site.

[2015-05-22 06:36] goern opened #78 "implement /nulecule/ subsite at projectatomic.io"
To give a general overview, host the normative spec documents, provide all the community info (irc, github), point to examples, ...

[2015-05-25 15:44] tradej commented on #45
Yes, Christoph, I understand that. My question is if we want:

1) Only to check if `/Dockerfile`, `/Nulecule` and `/README.*` exist
2) Also forbid/warn about the existence of some files, like `/nulecule` or `/artifacts/not-a-dirname.json`

[2015-05-25 18:30] vpavlin commented on #45
I think warning like `This app containes some unnecessary files` would be nice in case of DevAssistant usage, but the spec should only care about files we need - i.e. `Nulecule` and `Dockerfile` (and potentially `README.md`..

[2015-05-26 09:59] tradej commented on #45
See the linked PR for solution.

[2015-05-26 10:16] #75 closed, assigned to tradej

[2015-05-26 10:30] goern opened #81 "Use list of Providers instead of magic key naming"
Rework the spec the same way we did it with #35 so that we can fix https://github.com/projectatomic/nulecule/issues/70

[2015-05-26 14:13] #45 closed, assigned to tradej

[2015-05-26 14:37] #60 closed, assigned to tradej

[2015-05-26 14:40] aweiteka commented on #37
Resolved by https://github.com/projectatomic/nulecule/pull/74

[2015-05-26 14:40] #37 closed, assigned to nobody

[2015-05-26 19:11] goern opened #84 "pin examples/mariadb-app/Dockerfile to 0.1.0"
Shall we pin examples/mariadb-app/Dockerfile to 0.1.0 of atomicapp, so it is more stable?

[2015-05-26 19:15] aweiteka commented on #84
Yes but there are several other changes needed to the examples repo.
1. not all are using `Nulecule` filename
2. not all are using nulecule 0.0.2 `-name: myapp` spec change

[2015-05-27 01:45] aweiteka commented on #81
I'm okay with how it is: the provider keys _are_ magical.

[2015-05-27 06:34] goern commented on #81
@tradej  @vpavlin any opinion?

[2015-05-27 06:36] #84 closed, assigned to nobody

[2015-05-27 08:10] tradej commented on #81
Since we intend to support a limited number of providers with non-overlapping names, I'm also in favour of the status quo.

[2015-05-27 09:25] tradej opened #87 "Examples are not valid Nulecule 0.0.2"
Results of running [the validator](https://github.com/tradej/nulecule_validator) on the `Nulecule` files of the examples:

[code]

[2015-05-27 12:18] aweiteka commented on #87
@tradej this is a very valuable tool. Thanks for running this.

[2015-05-27 14:05] tradej commented on #87
I'm working on the automatic validation via Travis, but there are too many other things to do :)

[2015-05-28 05:00] vpavlin commented on #81
I am definitely in favour of making my life easier and using current structure.

[2015-05-28 05:00] #81 closed, assigned to nobody

[2015-05-28 12:43] tradej commented on #87
Still not quite. If we want to allow various types of `default` values for `params`, we should update the schema to accept more than `"string"`.

[code]

[2015-05-28 12:54] goern opened #93 "mariadb example feels outdated"
But it carries a good idea that shows how to integrate src for a nulecule and just package what the atomicapp really needs...

I vote for removing the example and transforming it to a blog entry.

[2015-05-28 12:59] aweiteka opened #94 "Params should allow more than 'string' values"
It is common to need `int` values for defaults such as ports.

[2015-05-28 12:59] aweiteka commented on #87
Issue filed to update spec: https://github.com/projectatomic/nulecule/issues/94

[2015-06-04 17:11] aweiteka opened #97 "Add support for dynamic functions"
There is a need to reference or create dynamic data. This may be a generator function to create a random password or reference data in another part of the metadata file.

Examples
- [Heat intrinsic functions](http://docs.openstack.org/developer/heat/template_guide/hot_spec.html#hot-spec-intrinsic-functions)
- [AWS Cloudformation intrinsic functions](http://docs.aws.amazon.com/AWSCloudFormation/lat

[2015-06-08 06:26] arcolife opened #99 "Package ELK stack example using atomicapp"
Since ELK stack seems to be common use-case, we could add it as an example under `nulecule/examples/`.  I'm willing to become a secondary owner for this under guidance from a primary one, since I don't have much knowledge of atomicapp.

[2015-06-08 06:33] LalatenduMohanty commented on #99
ELK stack : https://www.elastic.co/webinars/introduction-elk-stack

[2015-06-10 14:47] vpavlin commented on #99
See https://github.com/pschiffe/rsyslog-elasticsearch-kibana we should probably join forces on this:)

[2015-06-11 10:12] arcolife commented on #99
@vpavlin I actually tried that out yesterday. Good idea! :+1:

PS: `-v /etc/localtime:/etc/localtime:ro` gave me an error (`System error: Relabeling content in /usr is not allowed.`) so I removed it to deploy the container. We could discuss this somewhere else maybe.

[2015-06-11 14:17] bexelbie opened #103 "Add a --prompt flag to force interactive prompting for all params"
See comment in #101

[2015-06-11 15:47] aweiteka commented on #103
This is really an implementation feature. This is being tracked in atomic app here: https://github.com/projectatomic/atomicapp/issues/148

[2015-06-11 15:47] #103 closed, assigned to nobody

[2015-06-11 17:36] bexelbie commented on #103
@aweiteka thank you for catching this .. I clicked on the wrong tab and didn't read so well.

[2015-06-12 05:29] vpavlin commented on #99
We should probably pull @pschiffe into this discussion.

[2015-06-12 07:42] pschiffe commented on #99
@arcolife docker 1.6.2 should fix your issue, look here for more info: https://bugzilla.redhat.com/show_bug.cgi?id=1216151

Reg. the ELK/REK stack - I'm looking into dividing my container into 3 separate ones, which would make creating atomic app / nulecule for this stack pretty meaningful, but currently I'm really tight with my time budget, so I can't promise anything here.

[2015-06-12 11:28] billburnseh commented on #99
On 06/12/2015 03:42 AM, Peter Schiffer wrote:

I am happy to try and tackle this (others have offered too).
May need some bootstrapping though. I will be in touch...

cheers,
  Bill

[2015-06-17 12:28] bkabrda opened #105 "Including information on how to build all images for application"
## Background

I'm working on a tool called atomicapp-builder [1], that should be able to rebuild a whole Nulecule app based on a given Nulecule file and cccp-index [2].
## Terminology

While working on atomicapp-builder, I realized that Nulecule operates with two types of images, that don't really have names in Nulecule documentation (at least I didn't find the names :)). I'll call them **meta im

[2015-06-17 13:47] goern commented on #105
First thought, this issue/RFE is a excellent description of a good practice how to extend the usage of the Nulecule Spec without touching the formal spec... We have exactly want people to extend the YAML file Nulecule and put all that they need in there.

[2015-06-17 14:54] vpavlin commented on #105
@goern +1 :)
@bkabrda Very nice, I like it..and I think I don't have any objections to accept it as you proposed it.

Q1: Exactly, it's good that it's optional and we will just expect images to already exist if they are not specified

Q2: Good idea. What about some mapping to the Nulecule appversion [1]? So that I don't have to duplicate the version information in my Nulecule file if the appversio

[2015-06-18 13:48] bkabrda opened #107 "Terminology for different types of images"
Since I've started working with Nulecule, I've been hitting this problem - there are basically 2 types of images one needs to speak of:
- "meta images" - the images that contain the orchestration info
- "binary images" - the images that contain the actual services that make up the application

Since these two types are not distinguished by Nulecule docs, it's kind of necessary to agree on these pr

[2015-06-18 13:54] aweiteka opened #108 "Support global params"
We need a place to define shared params for the entire application.

[2015-06-19 07:13] bkabrda commented on #105
Thanks for your replies. I would very much like this to be an optional part of the specification itself, since I think it's crucial to be able to enumerate list of images that the application needs to run - for build tools, CI systems etc. This not only ensures that all images can be rebuilt the right way, but also allows tools to verify that no unexpected images get used when application is run -

[2015-06-22 18:54] aweiteka opened #109 "Support provider-specific params"
This is just a placeholder to consider yet another parameter scope: those params that are only related to a specific provider. We expect some providers to have many more parameters than others. For example, typically the docker provider will have fewer params than the kubernetes provider.

[2015-06-23 15:40] goern opened #110 "RFE: specifiy how to integrate external services"
As as developer I want to write applications and package them up as a Nulecule, and would like to address external services, so that we can use for example public cloud SaaS offerings.

By 'external' I mean something that is available via TCP/IP at a given Port. To address these Kubernetes has the concept of 'service'... OpenShift too has this... how to formalize this inside of Nulecule Spec?

[2015-07-01 12:46] imcleod commented on #70
Python implementation of json pointers - https://pypi.python.org/pypi/jsonpointer

[2015-07-07 22:15] mscherer commented on #21
I think you would need to have a way to separate the Nulecule file from the translation. The description is part of the UI, so it is important this part is translated properly, ie, by a translator. In turn, translators might not be well versed in the Nulecule file syntax and most of them already have tools to translate using specific formats ( and make sure update on the strings are not missed ),

[2015-07-09 12:43] veillard commented on #70
since rfc6901 is a fragment identifier specification, I would really suggest for standard and potential future uses to use the syntax # for specifying the path:
    pointer: #/spec/containers/0/public_ip

This means in URI terms, take the current document and extract the following fragment identifier.
Potentially we could use this to expand by fetching from other resources via URI-References

[2015-07-09 13:08] bexelbie commented on #70
This has the potential to break multi-provider support.  Perhaps we should consider a two-level process.  The Nulecule file remains a key/value structure like today.  Each provider needs to provide a transformation matrix that translates the keys from the Nulecule file to their pointers (or other method) for the specific provider.  It creates more work for application providers, but retains easy u

[2015-07-09 19:18] aweiteka opened #113 "PROPOSAL: Single directory for spec, use tagged releases"
I cannot maintain the spec in its current form. Adding to the spec requires us to guess the next version number, create a directory with that number, copy over the files from the previous version and start updating. This prevents us from using diff as we need to among other issues.

**Proposal**
1. Use release tags like everyone else. We have none.
2. Create a branch with each release for any bugf

[2015-07-09 19:21] aweiteka commented on #113
Dependency: https://github.com/projectatomic/nulecule/issues/78

[2015-07-09 19:27] aweiteka commented on #109
This may be partially, if not fully, addressed by #70 since referencing params by provider-specific path is inherently provider-specific.

[2015-07-09 19:59] aweiteka commented on #70
@bexelbie I think you nailed it.
- We can use provider artifacts unaltered
- It addresses the provider-specific params issue #109
- It allows for huge flexibility in using params while keeping the developer cost low
- It provides a way to map unstructure provider files such as docker using the `$<var>` substitution method
- Parameter re-use

Fleshing this out from our conversation...

Given Nulecu

[2015-07-10 08:52] goern commented on #113
lgtm and seems to be in sync with https://github.com/projectatomic/nulecule/blob/master/LIFECYCLE.md

[2015-07-10 08:53] goern commented on #113
I have started preparing the projectatomic.io side of things at https://github.com/goern/atomic-site/tree/nulecule/initial-nuleculization

[2015-07-10 09:13] goern commented on #78
most of the work is done: I am missing some icons for the left sidebar navigation

see https://github.com/goern/atomic-site/tree/nulecule/initial-nuleculization

[2015-07-10 15:12] aweiteka commented on #70
Above I proposed putting the provider param translation in another file. This is problematic since we would probably need to agree on a naming convention and it abstracts the parameters making it difficult to develop since the params are referenced in two different files.

A more compact way would be to refactor the artifacts object so it has more structure than just a list of files. This would al

[2015-07-15 12:06] bkabrda commented on #105
Just FYI I created a repo [1] that's supposed to hold the specification of this extension (I finally had to agree that this will be an extension after an offline discussion :))
I'd like to hear if you guys have some ideas on how the extensions to Nulecule should be handled. Does this seem ok? Do we want to create some kind of list of Nulecule extensions so that people know where to look if they're

[2015-07-15 15:55] veillard commented on #70
Seeing
    sources:
          - file://artifacts/kubernetes/template.json
    params:
          - foo: #/spec/template/metadata/name

urges me to simplify it to
         params:
              - foo: file://artifacts/kubernetes/template.json#/spec/template/metadata/name

And you have something which is a proper URI

Daniel

[2015-07-15 16:30] aweiteka commented on #70
That does seem appealing and I think we should support that so params can be targeted to an exact thing using fully qualified URI. The trouble I see with this is...
- `sources` is a list of artifacts to deploy.
- one may have many params per source file potentially resulting in a lot of redundancy in specifying the file.
- some sources are in git remotes. See [artifacts object](https://github.com/

[2015-07-15 16:42] veillard commented on #70
One nasty thing is that referencing local files is always a bit of a mess, file:// scheme works fine for absolute patch but in practice it's rarely where the files sits. The RFC for file:// is (was) a big mess for anything not an absolute path, so you end up forgetting the scheme and doing things like
../config/templates.json which is an URI references to the base which is the URI of the current f

[2015-07-15 18:24] goern opened #116 "tag name of releases use v-notation"
vx.y.z is only used for the release tags and archives, but not anywhere else in the spec. We should normalize that and retag without the `v`

[2015-07-15 21:03] aweiteka commented on #116
Is this a big deal? I'm just using inline guidance from GitHub when you create a tag.

[code]

[2015-07-16 07:47] goern commented on #116
no, not a big deal, I just wanted to avoid confusion|mismatch and was not aware that github thinks that it is a common practice

[2015-07-16 07:47] #116 closed, assigned to nobody

[2015-07-16 11:52] vpavlin commented on #105
@goern is our specification guru so he might weigh in here and comment on a textual representation.

@tradej can help with json schema

Tomáš, would it be possible to somehow validate extensions to the spec like this one? Any ideas?

[2015-07-17 08:20] vpavlin commented on #70
@veillard I am not sure f I understand what you are proposing/suggesting in your comment - `file://` refs are bad, but not using them is worse...so what is the solution?:-)

[2015-07-17 10:33] veillard commented on #70
no solution, just a warning. for example file:/../foo vs. file:///../foo will get probably more confusion
and errors than simply accepting ../foo for relative file paths

[2015-07-20 15:14] aweiteka opened #123 "Remove references to 'atomic build'"
We have some examples[1] that specify building an atomic app. I think this is a leftover from a previous behavior.

[1]
https://github.com/projectatomic/nulecule/blob/master/examples/guestbook-go/README.md
https://github.com/projectatomic/nulecule/blob/master/examples/redis-centos7-atomicapp/README.md

[2015-07-20 20:04] aweiteka opened #125 "Expand OpenShift provider examples"
We currently have no OpenShift provider examples. The only example we have is via inherit[1]. We need at least one example using a simple template to fully test the openshift provider.

[1] https://github.com/projectatomic/nulecule/blob/master/examples/mysql-centos7-atomicapp/Nulecule

[2015-07-20 20:41] goern commented on #125
I have started some, but it is untested, I am happy if someone picks it up: https://github.com/goern/atomicapp-spec/blob/examples/wordpressplusplus/examples/wordpress-centos7-atomicapp/Nulecule

[2015-07-22 07:22] goern opened #131 "remove skydns example"
Any objections? It does not show something in addition to the other examples and I cant figure out if it was used by any other example.

[2015-07-22 07:29] vpavlin commented on #131
See WP example: https://github.com/projectatomic/nulecule/blob/master/examples/wordpress-centos7-atomicapp/Nulecule#L12

[2015-07-22 07:39] goern commented on #131
yeah, thats mine :) and it doesnt required skydns, there is in PR coming in

[2015-07-22 14:15] bexelbie commented on #108
We may also need to support global parms being hte default of component specific parms when there is a parm name change needed

[2015-07-22 14:16] bexelbie commented on #131
The nice thing about the WP example, prior to this PR is that it shows building a nulecule from other nulecules

[2015-07-23 06:53] goern commented on #131
Still true, as I reuse mariadb/mysql Atomic App

[2015-07-23 18:02] aweiteka opened #135 "mariadb example artifacts not deploying to openshift"
mariadb-centos7-atomicapp example fails with `Unable to load file. Unable to recognize <file>. No object named "Service" is registered` when deploying to openshift.

[2015-07-24 07:51] #135 closed, assigned to nobody

[2015-07-24 10:03] veillard commented on #70
Hum, params should really be associated to a given source. If you start giving multiple sources in the
current suggested syntax, how do we know on which source the param should be evaluated ?
single source and associated params need to be bound together. Either we do:

[code]

and then we need to check the resource is in the provided list of sources,
or when we define the sources we do a liste lik

[2015-08-04 13:38] aweiteka commented on #72
Closing for now. It doesn't seem to be a priority.

[2015-08-04 13:38] #72 closed, assigned to nobody

[2015-08-04 14:17] goern opened #139 "define the semantics and lifecycle of a containerized Application"
This issue aims to define the lifecycle of a multi container application.

A first working draft is at https://gist.github.com/goern/d8910ba7a10ff26bc8f2

it is related to
- https://github.com/projectatomic/atomicapp/issues/184
- https://github.com/projectatomic/atomicapp/issues/159
- https://github.com/projectatomic/atomicapp/issues/142

[2015-08-06 21:26] jasonbrooks opened #141 "wordpress-centos7-atomicapp errors out on fedora atomic 22"
On fedora-atomic 22.87 (`kubernetes-1.0.0-0.9.git2d88675` & `docker-1.7.1-4.gitcc60fc3` ), running `sudo atomic run projectatomic/wordpress-centos7-atomicapp` errors out:

[code]

[2015-08-07 08:27] goern commented on #141
will track it here, as atomicapp seems to be broken, https://github.com/projectatomic/atomicapp/issues/194 is blocking the rebuild of working examples, hub.docker.com needs to be updated too.

[2015-08-12 15:15] navidshaikh opened #145 "Automated builds at Docker hub for nulecule atomicapp examples"
Should we have automated builds at Docker hub for examples enlisted in nulecule repository?

[2015-08-12 15:20] aweiteka commented on #145
Yes, we do: https://hub.docker.com/u/projectatomic/
@vpavlin and I are currently the maintainers/owners of the organization. The only non-atomicapp image repo is dockerfile-lint

[2015-08-12 15:20] #145 closed, assigned to nobody

[2015-08-13 12:53] goern opened #146 "specify a method to inject environment variables into the deployed applications environment"
## user story

As a deployment guy
I want to inject/set an environment variable
so that it is accessible from within the application
## Rational

Most applications that require a API_KEY or TOKEN do read this information from env vars, so that the secrets must not be stored in any file. We need to find a specification that will inject env vars into the application context/environment.

[2015-08-20 15:58] LalatenduMohanty opened #152 "projectatomic/helloapache example is failing"
I tried to run the helloapache example from dockerhub on latest CentOS7 box, it failed to run. CC @ggallen

Here are the steps I followed
- Get a single node k8s setup

[code]
- Run the helloapache example

[code]

[1] https://hub.docker.com/r/projectatomic/helloapache/

[2015-08-20 16:00] LalatenduMohanty commented on #152
Kubernetes version

[code]

Docker version

[code]

CentOS version

[code]

[2015-08-21 11:29] goern opened #153 "atomicapp message flow to cockpit broken"
if you look at the output of `atomic run projectatomic/atomicapp` on issue #152 you see that it fails, but the last message sent to Cockpit it `2015-08-20 15:51:56,319 - atomicapp.utils - INFO - atomicapp.status.info.message=Copied app successfully.
atomicapp-ScBViM`

[2015-08-22 19:52] ggallen commented on #152
How does this issue get assigned and prioritized?

[2015-08-25 13:56] LalatenduMohanty commented on #152
@ggallen I could run this example now. Can you please do a retry?

[2015-08-25 14:11] LalatenduMohanty commented on #152
@ggallen I think ur patch addressed the issue https://github.com/projectatomic/nulecule/commit/75760063c61024dda908fb0bf36b1e74057e77ec

[2015-08-25 14:34] ggallen commented on #152
This still fails for me:

[code]

[2015-08-25 14:41] vpavlin commented on #152
That's a different problem, seems like https://github.com/projectatomic/atomicapp/issues/220

[2015-08-25 14:44] ggallen commented on #152
Sorry, I didn't notice the message had changed.  I've seen this one numerous times.  I'll look at projectatomic/atomicapp#220.

[2015-08-25 14:58] LalatenduMohanty commented on #152
Closing this issue as it is resolved and for the new issue we have   projectatomic/atomicapp#220

[2015-08-25 14:58] #152 closed, assigned to nobody

[2015-08-26 13:19] ggallen opened #157 "Exception on atomic stop"
When trying to to stop the helloapache sample program I get the following exception:

[code]

[2015-08-26 13:45] goern commented on #157
This seems to be a Atomic App issue?!

[2015-08-26 13:47] vpavlin commented on #157
It's either `atomic` issue or labels in Atomic App Dockerfile are messed up. Hard to guess..

[2015-08-27 11:15] LalatenduMohanty opened #159 "We need more descriptive problem statement for Nulecule"
The current problem statement [1] is not easy to understand for people new to docker and Linux containers. If we can explain it more , it will be helpful.  This video is a good point to start https://www.youtube.com/watch?v=in2Y4HcDp-s&feature=share

[1] https://github.com/projectatomic/nulecule#problem-statement

[2015-08-28 13:18] navidshaikh opened #160 "Devise Nulecule example for gitlab app"
Reference https://github.com/jasonbrooks/docker-gitlab

[2015-08-28 16:29] dustymabe commented on #157
This is the issue https://github.com/projectatomic/atomic/issues/137

[2015-08-28 18:33] dustymabe commented on #157
This issue can be closed as it is not a bug in nulecule.

[2015-08-28 19:13] goern commented on #157
thx dusty!

[2015-08-28 19:13] #157 closed, assigned to nobody

[2015-09-02 21:45] dustymabe commented on #141
@goern @jasonbrooks I think this can be closed now

[2015-09-02 21:49] dustymabe opened #162 "wordpress-centos7-atomicapp: missing environment vars"
Not sure what is wrong with this example but the wordpress container in the kubernetes pod just keeps restarting and the logs from one of them is:

[code]

One issue I see is that we are pulling from `goern/wordpress` for this. Might be a good thing to create something official and pull from that.

[2015-09-03 07:14] goern commented on #141
@dustymabe thats a 'I have rerun the test and it work' ? ;)

[2015-09-03 07:24] goern commented on #162
I propose that we create one uber-example to be hosted in the Nulecule Specification and move all the rest to a library, like CentOS-Dockerfile, Fedora-Dockerfiles

## Über-Example

User Story _As a cool blogger, I want to host a WordPress that scales, so that I can receive many many hits._

### Architecture

A frontend nginx ephemeral reverse proxy will provide scale out capabilities: as more hit

[2015-09-03 12:56] dustymabe commented on #141
@goern That is a 'I have rerun test and got farther than this'. So I think we can close this. See https://github.com/projectatomic/nulecule/issues/162 for the new issue that I am seeing.

[2015-09-03 12:57] dustymabe commented on #162
@goern I don't disagree but do we want this particular example to live on (maybe in another location)? If so then we would need to fix this issue.

[2015-09-03 17:14] goern commented on #141
Thanks Dusty!

[2015-09-03 17:14] #141 closed, assigned to nobody

[2015-09-04 09:22] LalatenduMohanty commented on #162
I don't think these example Dockerfiles should land in CentOS-Dockerfiles and/or Fedora-Dockerfiles. Because these are not typical Dockerfiles but specific to Nulecule and Atomic App.

If we really want a new home, then we should create a separate github repo under projectatomic and some interested folks can maintain this.

The good think about having separate repo is that we can open it (i.e. hav

[2015-09-04 09:26] navidshaikh opened #163 "Rename atomicapp examples - remove extra *atomicpp*, *centos* strings from name"
@kbsingh suggested about renaming atomicapp examples. Presently the example names contain name of the base image used and "atomicapp" in the name.
The motivation behind renaming is to provide closer user experience as with other tools, for eg:
`yum install appname` and `atomic install appname` or `atomic run appname`

Edit:
Updated the analogy
`yum install appname` --> `atomic install atomicapp/ap

[2015-09-04 11:23] vpavlin commented on #163
I would agree with this if we could somehow filter/search/pull based on labels - i.e. you can have an alias for something like `alias nulecule="atomic --type nulecule --os centos7" so that you can then do`nulecule run wordpress`which would actually run some image called`wordpress`with labels`type=nulecule`and`os=centos7`.

As we cannot do this, I would suggest to keep the naming as is to distingui

[2015-09-04 11:30] vpavlin commented on #162
Both these approaches makes sense - Fedora/CentOS-Docekrfiles lets us to introduce these examples to wider audience as they are already know and used.

New repostory would make it easier for people to find Nulecules specifically...

I am more inclined to moving the examples to *-Dockerfiles repositories.

[2015-09-04 13:37] navidshaikh commented on #163
non-Nulecule images themselves may not constitute an app, they might require to link to other (for eg db) containers to make an app. Nulecule examples already have namespace `projectatomic`, so the repository name becomes `projectatomic/$app_name` - I think this should suffice to describe the app in Nulecule-app OR we modify the namespace to be a bit specific as `atomicapp/$app_name` OR `nulecule/

[2015-09-04 14:23] goern commented on #163
Well, I am super interested in this part, as I dont want to have my
 developers based their work on some random ubuntu image they... esp
 if I am a big huge GOV or Bank ...

[2015-09-04 14:34] bexelbie commented on #163
Shouldn't step 1 of using any docker image be to read the Dockerfile?  I can label my image Fedora and use a Centos base.  The point being that I think these labels are a bit of clutter, especially as some examples will deliberately include combinations of stabilized code from a RHEL or CentOS with bleeding edge code from Fedora.  What do we put in the name for those?

[2015-09-04 14:40] bexelbie commented on #162
I like the idea of an uber example, in the Nulecule repo. We should get one more and a helloapache example we are all happy with.

[2015-09-16 13:00] rtnpro opened #169 "Support docker-compose artifact in Nulecule spec"
## Problem statement

Docker compose is, in many ways, analogous to a Nulecule file. Services in Docker compose YAML file is analogous to items in the `graph` in a Nulecule file. So, we don't need a separate compose artifact for each item in `graph`, but just one, for the user facing application (e.g., sentry, etherpad, wordpress).
## Possible solutions
- Allow items in `graph` have no artifact fo

[2015-09-24 11:51] vpavlin commented on #70
@veillard You are right, @aweiteka's proposal will not work in case pointers are not same for all artifacts in a provider..so it seems we will have to go your way - params mapping will need to be specified for each artifact (i.e. source)

[2015-09-24 12:03] vpavlin commented on #70
Maybe don't use array for params as the keys are not really "magic keys" we want to avoid but has to exist in `component.params`  section

[code]

[2015-09-24 12:32] veillard commented on #70
Yeah that works

artifacts/kubernetes/template.json#/spec/template/metadata/foo

is more web like but it can get repetitive and we already need to provide the URI for the
resource so ACK on vavlin suggested syntax

[2015-10-12 14:35] markllama opened #173 "Add objects to express links and relationships between graph objects."
The current nulecule spec appears to have objects needed to describe container objects and some resource requirements for individual containers.  I do not see any elements specifically defined to express links and other relationships between containers.

The specific case is for Kubernetes nulecules where they defer the link definitions to Kubernetes "service" artifacts.  This is sufficient when r

[2015-10-12 18:43] markllama commented on #173
I could be wrong.  The **oc create --filename <filename.json>** CLI command allows the creation of a Kubernetes service within OpenShift.  If there is a matching API object then it is possible that the kubernetes artifacts can be used as-is.

[2015-10-12 19:22] markllama commented on #173
It appears also that OpenShift creates new services as pods are deployed, though how it knows to do that (examining the EXPOSE directives of the container images?) and how it decides to map them to selectors is unclear.

[2015-10-12 19:27] markllama commented on #173
Well there it is: an OpenShift application template example:

https://github.com/gshipley/openshift3mlbparks/blob/master/mlbparks-template.json

[2015-10-14 12:58] langdon commented on #173
@rtnpro and I were discussing this very thing at the the f2f, particularly in regards to supporting docker-compose in atomicapp. @rtnpro can you add some of your comments / thoughts here?

[2015-10-18 11:35] ghost commented on #159
Proposal in https://github.com/projectatomic/nulecule/pull/174

[2015-10-19 07:43] #159 closed, assigned to nobody

[2015-10-19 17:20] rtnpro commented on #173
@whitel @markllama we already have a PR in atomicapp implementing `docker-compose` as a provider. However, I believe that the discussion here is much more than `docker-comose`. It's about specifying docker `links` equivalent info in a `Nulecule` file. We're also discussing on stating dependency (static and dynamic/runtime) among the components of a Nulecule app. Every component in a Nulecule app t

[2015-10-19 17:31] langdon commented on #173
I think we are conflating two, probably, separate things. "Relationships" between containers and (for lack of a better term) config management. The relationships part (aka links) i think might be a useful addition to the spec. However, I think the config management part, which is probably something that may be useful, is probably best solved via best practice or in orchestrators. Providing the lin

[2015-10-19 18:05] rtnpro commented on #173
@whitel

"Providing the link information to an orchestrators is pretty open-ended on what they do with it and, as such, requires no "implementation" just a spec promise that the one object will be able to reach the other."

:+1:

[2015-10-22 09:49] dharmit opened #178 "Create Nulecule example for Flask + Redis app"
Reference - https://github.com/dharmit/flask_redis_nulecule_app

[2015-10-22 12:33] dharmit commented on #178
Closing this as moved it to https://github.com/projectatomic/nulecule-library/issues/3

[2015-10-22 12:33] #178 closed, assigned to nobody

[2015-10-29 12:57] aweiteka commented on #70
We need to update the spec.

[2015-10-30 14:14] kanarip opened #181 "Array rather than Object for persistentVolume"
In the example for Storage Requirement Objects, the persistentVolume entries seems to be an object, but may need to be or become an array -- so multiple persistentVolumes could be specified:

https://github.com/projectatomic/nulecule/tree/master/spec#storage-requirement-example

[code]

[code]

[2015-11-02 11:04] strzibny commented on #162
For me this fails as well but with:

[code]

Why does it complain about Nulecule not being found?

Btw. I am using ADB.

[2015-11-06 21:33] hhorak opened #182 "docker version error in atomicapp run"
I'm not able to run the atomicapp (sources available at https://github.com/hhorak/guestbook-pgsql):

[code]

[2015-11-06 21:58] cdrage commented on #182
Hmm, odd. I'm able to run it my end with `atomic 1.6` and `atomicapp 0.2.1` with the same example.

Can you do a `whereis docker` as well as a `docker version` for me?

[2015-11-06 22:43] hhorak commented on #182
[code]

[2015-11-06 23:09] dustymabe commented on #182
Hi @hhorak. The appropriate place for this type of issue would be the https://github.com/projectatomic/atomicapp issue tracker.

So I see your issue as well. It happens to be a problem with the latest docker in Fedora 23. I just opened an issue to track it: https://bugzilla.redhat.com/show_bug.cgi?id=1278984

You can workaround this by removing docker and installing the older docker rpm:

[code]

[2015-11-06 23:09] #182 closed, assigned to nobody

[2015-11-09 07:51] hhorak commented on #182
Thanks, I'll follow the fedora report.

[2015-11-09 15:58] rtnpro opened #183 "answers.conf.gen not getting all of the answers in it"
@dustymabe reported the above issue. Need to reproduce it.

[2015-11-09 16:29] #183 closed, assigned to rtnpro

[2015-11-09 18:36] cdrage opened #184 "Adding a default provider [discussion]"
Please read: https://github.com/projectatomic/atomicapp/issues/378

We would like to propose adding:

[code]

To the spec, giving an implementation control on what to deploy by default if multiple providers are provided.

[2015-11-12 15:46] cdrage opened #185 "Adding a default namespace [discussion]"
A problem that were facing is people whom are using inherited Nuleculized applications with the **Docker** provider (within our atomicapp python implementation) are facing namespace issues when deploying their packaged containers.

For example, when using `atomicapp run --provider=docker projectatomic/helloapache` you end up with a container named `atomicapp_default_HASHVALUE`. If you provide a na

[2015-11-12 16:29] goern commented on #185
From the specification's point of the the namespace to which an application will get deploy seems to be a configuration, so my first guess would be to put a parameter `namespace` in there and let the provider evaluate that parameter. An application does not need to know that it runs in a namespaced world.

2nd option... just add it to the Nulecule files to be used with Atomic App and implement tha

[2015-11-12 17:07] dustymabe commented on #185
Charlie and I had a discussion about nesting namespaces that should be interesting with regards to this subject. I believe he is going to open an issue describing this in the atomicapp issue tracker.

[2015-11-18 16:03] markllama opened #186 "Autogenerated Parameters"
As an atomicapp developer
I would like to be able to define some parameters which are autogenerated from a pattern
So that I can avoid having to provide values which are only used to connect two containers.

Use Case Example:

When creating internal only databases, the database server and consumer must agree on username/password or client/server certificates, but the precise values are unimportant

[2015-11-18 18:03] rtnpro opened #187 "Shortcomings with current answers/params structure towards implementing nested Nulecule application"
# Problem statement

The way it is now, Nulecule apps are not that reusable. It's easier for us
to add dependencies internally, rather than, add external dependency. This
can be seen in most of our examples in [[1]]. There are a few shortcomings
in having dependency on external Nulecule applications.
### Namespace conflict

When we consume external Nulecule applications in our Nulecule application

[2015-11-18 20:09] kanarip commented on #186
@markllama very much +1 like on projectatomic/atomicapp#408

[2015-11-18 21:03] markllama commented on #187
I have been struggling with something that I think is vague about the nulecule usage model.

On one hand I want to define a nulecule as metadata to help consume a microservice container image.  There I define my unresolved variables and give them names that will map them into my artifacts.

On the other hand I want to create an application that uses a nulecule as input.  Here I want several  thing

[2015-11-18 21:07] markllama commented on #187
OK, I could edit that and avoid looking silly, but I'll re-comment instead.

I guess the second "parameters" section I mention, the definition/assignment only needs to be in the global scope of the answers file.

The only reason to have entries in the graph element sections of the answers file is if I need to map two mismatched parameter names from different consumed nulecules to a single provided

[2015-11-18 21:16] kanarip commented on #187
It seems like something as simple as:

[code]

could be made to have `some-external-app` inherit `some_param` with value `some_value`.

Would that resolve the problem?

**UPDATE**: It would not solve the problem for `A` and `B` both requiring a `mariadb-centos7-atomicapp` directly, though perhaps they could be specified params to separately;

[code]

[2015-11-18 21:44] dustymabe commented on #187
@kanarip it could.. but having it be more explicit by defining the params as well as the args (like in [[3](https://github.com/projectatomic/nulecule-library/compare/master...rtnpro:refactor_answers)])  would be better for knowing which params apply to which nulecules rather than just having them all inherit all params somehow.

In this model the Nulecule is kind of like a function call. The nulec

[2015-11-18 21:48] kanarip commented on #187
Right, I had not seen that example but it makes sense.

I reckon `params` on the leaf does not necessarily need to be eliminated altogether though, and could be used to override or supply additional `params`.

This way, `root_pass` can be different for two `mariadb-centos7-atomicapp`-based leafs and does not need to be specified globally.

[2015-11-19 14:22] aweiteka commented on #181
@kanarip sorry for the delayed response. This makes perfect sense.

[2015-11-19 16:09] cdrage opened #188 "Our examples should be using yml not json."
Within the /spec folder I believe we should be using yaml examples rather than json as it's the go-to format when we do our blog-posting as well as our implementation.

Thoughts?

[2015-11-19 16:10] cdrage commented on #70
To be honest, I haven't had much experience in regards to spec writing.

@aweiteka @bexelbie Where in particular should I be adding the changes of xpathing into the spec?

[2015-11-19 16:25] aweiteka commented on #70
@charliedrage I think the only change is to the params object:
https://github.com/projectatomic/nulecule/blob/master/spec/README.md#paramsObject
and
https://github.com/projectatomic/nulecule/blob/master/spec/param.json

[2015-11-19 17:17] cdrage commented on #70
Awesome, I'll send in a PR :) thanks @aweiteka !

[2015-11-19 18:21] goern commented on #188
aint that just empty files?

[2015-11-19 18:27] goern commented on #184
I would consider this an experimental extension: add it to the Nulecule files you use with current version of atomicapp and simply use it. For the Nulecule Spec's point of view, I think we dont need the semantic of a 'default provider'.
If it turns out to be useful, lets move it from 'experimental' to be included in the Nulecule spec itself.

[2015-11-19 18:36] goern commented on #181
The flow of thoughts was more like [an application](https://github.com/projectatomic/nulecule/tree/master/spec#container-application-object) has a list of requirements. By now we only have one type of a requirements defined: [a storage requirement](https://github.com/projectatomic/nulecule/tree/master/spec#storageRequirementsObject).

So it would be:

[code]

[2015-11-19 18:37] goern commented on #169
Could you elaborate on this a little more?

[2015-11-19 18:40] goern commented on #125
examples move to https://github.com/projectatomic/nulecule-library

[2015-11-19 18:40] #125 closed, assigned to nobody

[2015-11-19 18:40] goern commented on #131
examples move to https://github.com/projectatomic/nulecule-library

[2015-11-19 18:40] #131 closed, assigned to nobody

[2015-11-19 18:40] cdrage commented on #188
@goern nah, just most example (nulecule-library, etc.) use .yaml files instead for defining graph, Nulecule, etc. Shouldn't we reflect the spec to be the same?

yaml looks _much_ cleaner imo

[2015-11-19 18:41] goern commented on #153
dead by timeout

[2015-11-19 18:41] #153 closed, assigned to sub-mod

[2015-11-19 18:46] goern commented on #188
ah :) actually the Nulecule Specification defines that the formats that could be used are JSON or YAML. What is the rational to remove one of these and reduce freedom of choice?

[2015-11-19 18:46] #160 closed, assigned to navidshaikh

[2015-11-19 18:48] cdrage commented on #188
For cleaner reading and ease of introduction  :) We're not removing it, we'll just convert them to yaml.

edit: we already tell the user they can use ini, yaml or json for Nulecule / graphs / etc.

[2015-11-19 18:57] aweiteka commented on #184
As an experimental extension I suggest it goes into the metadata section so it's still valid:

[code]

[2015-11-20 07:46] kanarip opened #189 "'generateName' support for Kubernetes provider"
### Problem Statement

Some of the Nulecule applications in the [nulecule-library](https://github.com/projectatomic/nulecule-library), such as MariaDB and MongoDB, can only be used once within an application's (nested) graph, because the Pod and Service created by the Kubernetes provider carries a non-unique name (in their pod and service definitions).
### Suggested Solution(s)
- Support the `gene

[2015-11-20 14:24] vpavlin commented on #181
I agree with @goern as that let's us to add f.e. some networking requirements (OpenShift route, Docker networking plugins..) later.

[2015-11-20 14:26] vpavlin commented on #181
Maybe, what about this:

[code]

[2015-11-20 14:26] vpavlin commented on #181
Sorry, I didn't meant to close it at all:/

And btw, what about this structure:

[code]

[2015-11-20 15:00] aweiteka opened #190 "Add pre- and post- hooks for arbitrary scripting"
For some applications on some providers there is a need to prep the host before running (pre-hook). There is also much value in providing a method for validating an application is running (post-hook). We should specify these generally so they can be implemented broadly. I'm not sure if these go in the graph or elsewhere. Use cases:
- run a shell script to create a directory on the host for arbitra

[2015-11-20 16:08] goern commented on #190
Do you think we can formulate that as a requirement for an object in the graph?
Why dont we hand over the responsibility to pre/post-hook-container? So could there be a requirement for 'run once before "graph-object-name"' ?

[2015-11-20 16:22] markllama commented on #187
I think you've just identified another dimension which I've been thinking about.

Ideally, the list of parameters (of all kinds) would be provided from the container image, perhaps in the form of an included Dockerfile, but ideally from some other component of the image. [1].  The `LABEL` mechanism offers one means, and OpenShift is already using it to provide additional metadata about image chara

[2015-11-20 16:41] aweiteka commented on #190
Yes, that could work. It's at least simple. However, it's pretty constraining not to allow a shell script.

[2015-11-20 16:57] vpavlin commented on #190
Remember the rule of thumb that the deployment is most probably happenning on a different host and we don't have ssh access to it, i.e running scripts is worthless.

If you really want to modify the host, it's probably a good case for a SPC taking care of it.

I am not sure, but requirements as they are defined now, are application specific, not graph component specific, correct?

How do we specif

[2015-11-22 11:26] vpavlin commented on #187
First of all, it too bad we already had this figured out after the meeting in Brno:(

@markllama I am missing context in your example - are those global parameters? If yes, does `myapp` and `mongodb` map to graph component, or an image? (I'd vote for graph component as image name may change)

Also relying on labels in this case is a bit dangerous as those can change independently from Nulecule met

[2015-11-23 13:51] rtnpro commented on #187
@markllama

I was personally excited about the notion of having **unresolved** variables in Nulecule, which get resolved during the various stages of deploying the Nulecule, for use in the subsequent deployment process. We could also introspect the Nulecule to find the dependencies across components and schedule deployment in a proper order, so that a component **B** depending on a value **x** res

[2015-11-23 15:18] markllama commented on #187
@rtnpro thanks,

It looks like [the work you're doing to refactor](https://github.com/projectatomic/nulecule-library/compare/master...rtnpro:refactor_answers#diff-9d8d527e03bfa72cabe4e7130a1ef1dcR30) the paremeters/args structures answers some of what I would like.  You're doing the mapping "in reverse" so to speak, but with the same result.

Regardless of the implementation of the containers, it

[2015-11-26 23:44] cdrage commented on #181
@vpavlin I agree with type. There's quite a few different types in Kubernetes as well as OpenShift and having that as an option needs to be addressed.

For example, this is what Kubernetes and OpenShift supports:

[code]

And Docker:

[code]

[2015-11-27 09:39] kanarip commented on #181
@cdrage Is the type of underlying storage to use not environment specific, and therefore a question regardless? How would a storage type in a Nulecule application translate to deployment?

I think @vpavlin meant to suggest the `requirement` is marked as being of a `type: PersistentVolume` rather than a requirement for a `PersistentVolume` to use a particular underlying storage type.

[2015-11-27 14:17] cdrage commented on #181
@kanarip you hit the nail on the coffin in regards to why it should be implemented. Yes, it is environment specific, however, if type was not included, Nulecule / Atomic App would not have a clue in regards of implementing persistent storage, by default it would most likely use HostPath or NFS.  By providing a type, the Kuberneters or OpenShift provider within Nulecule will deploy that specific pe

[2015-11-27 14:18] cdrage commented on #181
I think this will take more thought into how we are able to implement said persistent storage.. As usually you provide this within the specific Kubernetes / OpenShift artifact file.

EDIT, ex:

[code]

ping @aweiteka @goern for thoughts

[2015-11-30 17:13] cdrage opened #192 "$hostport should be "$hostport""
Run `nulecule/examples/helloapache/artifacts/kubernetes/hello-apache-pod.json` through jsonlint and you'll see that it's invalid.

One of the reasons being is that for numeric values that are filled in with a param, we do not add any quotes.

Adding quotes to this makes the json/haml valid and does not harm deployment via Kubernetes, OpenShift, etcetera, as the respective programs convert the stri

[2015-11-30 17:14] dustymabe commented on #192
we need to remove the examples from this github repo. They have been moved to nulecule-library.

[2015-11-30 17:18] dustymabe commented on #192
please open against nulecule-library

[2015-11-30 17:18] #192 closed, assigned to nobody

[2015-11-30 18:49] dustymabe commented on #181
@cdrage I think what they were trying to say is lets have the `requirements` section apply to more than just persistent volumes. Your point is still valid though because you are saying that we need to be able to specify what type of persistent volume to apply.

Maybe something like this would work:

[code]

But then the user could use something like this if they didn't care what type of persistent

[2015-11-30 18:56] aweiteka commented on #181
1. We've taken @kanarip 's simple request to allow for a list of storage objects and turned it into an larger architectural discussion on the limitations of our spec. His request is a simple one. Could we make a simple update to the spec?
2. Storage requirements are just one of many things an application might need. Why don't we start a new thread to discuss "all the things"? Then we have an oppor

[2015-11-30 19:03] dustymabe commented on #181
@aweiteka right. so you are saying for the sake of this issue let's just take what we have and make it an array and we can open a separate issue to docuement architecture for broader requirements.

@cdrage ^^ thoughts?

[2015-11-30 19:30] goern commented on #181
We should avoid implementation specific details in a declaration of requirements, as that implies a certain way to implement things and takes away freedom from the implementator/plattform/provider. Having said that, I would delete

[code]

The application should really dont care how I do provide 4GiB of R/W storage. If these details are required by the provider as input, they should be in `answers

[2015-11-30 19:30] goern commented on #181
@aweiteka full_ack for 2. and 1. is solved, isnt it? I simply wait for the RP from @kanarip  ;)

[2015-11-30 21:07] cdrage opened #193 "Persistent storage types"
This is a tentative issue / discussion for persistent storage as well as persistent storage types as a continuation of issue #181

@goern
I agree with you in regards to

[code]

being deleted from

[code]

We assume that the user has already configured what type of storage they'd like to use (nfs, gce, etc.), we shouldn't have to add it to `Nulecule`, but rather `answers.conf`.

[2015-11-30 21:10] cdrage commented on #181
Continued in #193 :) let's keep the discussion there in relation to type and array stuff here. But I agree that we should have arrayed volumes in our spec.

[2015-11-30 21:14] goern commented on #193
It might even be three roles:
1. software vendor, packaging everything up to be deployed on kube and openshift
2. deployment guy providing answers.conf, setting the size to 6GiB
3. platform guy running openshift and making the decision that storage will come from AWS

[2015-12-01 21:47] goern commented on #193
Next think I see is a route object for OpenShift, if we want to expose a service via a URL, we could simply add

[code]

An implementation like Atomic App could generate an OpenShift route configuration from that:

[code]

[2015-12-02 08:43] goern commented on #190
@aweiteka I wonder about use cases 2 and 3:
- run an ansible playbook to prepare one or more remote systems before deployment
- run a script to manage certificates before deployment

They sound more like a systems management or configuration management activity rather than deploying an application.
1. is definitely a task for the systems management's "deploy new host" service, I think it is a job

[2015-12-02 13:53] aweiteka commented on #190
Good point. I'm noticing complex apps always have prerequisites. For example, OpenShift's EFK stack actually has a "deployer" template (aka installer) pattern[1] to boostrap the actual services. Even in this case where they've presumably optimized automation they have to create secrets (certs), create service accounts and assign policy.

While this may be the domain of config mgmt it would be good

[2015-12-07 12:17] rtnpro commented on #187
Hey folks,

I have implemented an intial POC for the proposed refactor of Nulecule params. You can try it in the following way:

### Pull changes in atomicapp

[code]

### Pull refactored sentry nulecule application in nulecule-library and run it

[code]

Give it a shot and share your feedback.

[2015-12-07 14:21] goern commented on #181
I am going to close this issue, as my reply https://github.com/projectatomic/nulecule/issues/181#issuecomment-158149598 is true, the Nulecule Specification 0.0.2 allows (and has json schema definition to formally validate) what @kanarip asked for.

[2015-12-07 14:21] #181 closed, assigned to nobody

[2015-12-07 14:24] goern commented on #188
I would like to keep both, as I personally dont like YAML ;)

other opinion?

[2015-12-07 14:27] #93 closed, assigned to nobody

[2015-12-07 14:28] #87 closed, assigned to nobody

[2015-12-07 14:29] #78 closed, assigned to goern

[2015-12-07 14:29] #77 closed, assigned to nobody

[2015-12-07 14:30] goern commented on #185
@dustymabe @cdrage any update on this?

[2015-12-08 07:12] vpavlin commented on #184
As noted in https://github.com/projectatomic/atomicapp/issues/378#issuecomment-159614337 - we don't need any changes in spec or implementation specific to the default provider if we allow/start using global params

[2015-12-08 07:22] vpavlin commented on #185
1. I agree with @goern - `namespace` is a part of configuration, not a specification
2. Should be part of global `params` if anywhere in the spec..
3. Why is this even problem? Namespace generally means you cannot run 2 mysql under the same namespace, but FWIU our problem is/was you cannot run any 2 apps under a single namespace, which is clearly broken behaviour for namespaces:)

[2015-12-08 07:24] vpavlin commented on #188
I like YAML:P But I still see the benefit of presenting user with both versions.

[2015-12-08 07:31] vpavlin commented on #193
From my pov, I as a developer don't care about the type of underlying storage type (f.e. `nfs`). So this doesn't belong to the spec.

@goern is right about other types - that was what I was trying to suggest in previous discussion (thanks for clarification;)

How do we make size amendable via answers.conf?

[2015-12-08 15:17] cdrage commented on #193
Talked about this with @goern and concluded that atomicapp should _not_ know on the underlying storage and should let the underlying provider take care of that (take from a storage pool already configured, etc.)

So what should be the final format?

[code]

as suggested by @dustymabe ?

our current format in the spec is:

[code]

[2015-12-08 15:18] vpavlin commented on #193
+1

[2015-12-08 15:19] vpavlin commented on #193
What if we do `s/properties/params` and then make them modifiable via answers file? Would that bring too much confusion?:-)

[2015-12-08 15:25] cdrage commented on #185
@vpavlin

The main problem and motivation for this is inherited Nulecule applications. An ISV as well as a few people on IRC had been having troubles implementing inherited applications due to not being able to pass a default names-pace to them. You _can_ do it via a hack by leaving an answers.conf file when building a Nulecule application version 0.1.13 or below, but you can't now in 0.2.1 and ab

[2015-12-09 08:29] goern commented on #193
From my point of view, persistentVolume requirement of the Nulecule is a request or prerequisite of the application (stated by the ISV how nuleculized the application): "I application need 4GiB of persistent volume". The platform provider or the deployment guy is always free to provision more storage to the application. So @vpavlin why do we want to have the bare minimum required by the applicatio

[2015-12-09 08:48] vpavlin commented on #193
I don't know...it was just a random idea..maybe because `params` would make sense for other types of requirements (like `routes`)?

[2015-12-09 13:42] rtnpro commented on #184
we don't need to add another key, as in

[code]

We just need to update Nulecule spec to support params in the root level, to incorporate params in `general` section in the Nulecule spec file.

**atomicapp** already supports params at the root level in a Nulecule file.

[2015-12-09 13:52] vpavlin commented on #185
So, why don't we just pass config here?

https://github.com/projectatomic/atomicapp/blob/master/atomicapp/nulecule/base.py#L313

So that the external component we are loading knows about `namespace` for existing answers_file? I think this is realy just a bug to be fixed in Atomic App rather then feature missing in Nulecule;)

[2015-12-09 15:13] cdrage commented on #185
So after long discussion with both @goern @dustymabe and @vpavlin I've come to the conclusion that this is outside the scope of the Nulecule specification and Atomic App in regards to deploying multiple namespaces within the same Nulecule container.

If one wants to deploy a Nulecule application that uses multiple kubernetes/openshift/docker clusters, they should have multiple Nulecule application

[2015-12-09 15:13] #185 closed, assigned to nobody

[2015-12-10 10:09] goern commented on #184
You should be able to do that without any restrictions, its just a YAML file :) As I [said](https://github.com/projectatomic/nulecule/issues/184#issuecomment-158147065) this is an experimental extension of the Nulecule Specification Atomic App introduced, lets see how it works out.

Lets see in mid Jan how it evolved and if we need to update ethe spec.

[2015-12-16 08:46] #188 closed, assigned to nobody

[2015-12-16 17:07] cdrage opened #194 "Examples should be removed"
With nulecule-library created, the examples dir here should be removed and instead pointed to github.com/projectatomic/nulecule-library

hub.docker.com should sync with any PRs / changes to projectatomic/nulecule-library instead of the current examples directory here.

[2015-12-16 17:43] goern commented on #194
full_ack, anyone going to do work on #162 so that the specification has one good uber-example?

[2015-12-23 15:39] aweiteka commented on #193
Per my [comment](https://github.com/projectatomic/atomicapp/pull/460#issuecomment-166712200) there's a gap in that the app needs to mount the volume at some path. So this only solves half of the problem. The orchestration artifact basically solves this problem already. I'm not sure how to abstract this concept any further, or what value it provides. It does sound _nice_ to simply say, "My app need

[2016-01-04 17:24] dustymabe commented on #193
So should we add a `path` property to persistent volume? https://github.com/projectatomic/nulecule/blob/master/spec/requirements/persistentvolume.json

The only other way I see mapping it out is to have volumes be discoverable like services so that a volume with a name gets mounted at a configurable location.. but I don't think that is something we want to try to do right now.

[2016-01-04 21:08] aweiteka commented on #193
After discussion with @goern I'm revising my thoughts on this: the application artefact will define how it wants to use the volume, where it should be mounted. We don't need to provide a path in the spec.

[2016-02-02 05:37] surajssd opened #197 "mariadb-fedora-atomicapp `artifacts` directory named as `graph`"
[`mariadb-fedora-atomicapp`](https://github.com/projectatomic/nulecule/tree/master/examples/mariadb-fedora-atomicapp) example has `artifacts` directory named as `graph`, which causes the `atomicapp` to fail. By default the directory be named as `artifacts`, so that it is easy for the beginner to use it without having to change any configurations.

[2016-02-02 08:31] goern commented on #197
Is this considered a bug or a usability issue? If it is a bug (atomicapp requires the directory to be called artifacts) than you should fix atomicapp, and not simply rename the directory.

[2016-02-02 08:47] LalatenduMohanty commented on #197
I think it is an usability/user experience issue from Nulecule point of view. For example https://github.com/projectatomic/nulecule/blob/master/docs/getting-started.md tells you to create artifacts directory

[2016-02-02 08:48] LalatenduMohanty commented on #197
@surajssd BTW the examples are now maintained at https://github.com/projectatomic/nulecule-library/.
For mariadb-fedora-atomicapp I can see artifacts directory in
https://github.com/projectatomic/nulecule-library/tree/master/mariadb-fedora-atomicapp

[2016-02-02 09:07] surajssd commented on #197
@LalatenduMohanty @goern
This issue is no longer valid it seems, and can be closed and this [issue#194](https://github.com/projectatomic/nulecule/issues/194) be resolved as soon as possible.

[2016-02-02 09:27] goern commented on #197
see also #162

[2016-02-02 09:27] #197 closed, assigned to nobody

[2016-02-03 15:05] cdrage commented on #194
@goern
looks like a lot of people have been focusing on getting this past GA instead of the uber-example. Can we merge #195 regardless and have a "helloworld" example within nulecule-library (modified helloapache).

Otherwise, we should template what our uber example should be.

redis-cluster with resque / ruby on rails / bunch of other load-balancing ish stuff? we should have a look at some robus

[2016-02-03 15:16] #194 closed, assigned to nobody

[2016-02-12 08:58] goern commented on #162
Here is another approach to solve this issue, https://trello.com/c/nBiEJxic

[2016-02-25 16:29] cdrage opened #199 "Update Nulecule image"
I don't think we use "atomicapp build" anymore. Just docker build.

https://github.com/projectatomic/nulecule/blob/master/images/NuleculeHigh-LevelStory.png

[2016-03-01 23:12] jberkus commented on #193
Regarding the path: we may say that the provider should define the path for the host/network, but the app spec should provide the path inside the container, since that is a requirement of the app.

For example, if I need persistentStorage for my PostgreSQL database app, then I need to be able to specify that that storage should be mounted inside the container at /var/pgsql/data.  The Nulecule file

[2016-03-01 23:18] jberkus commented on #193
so that would make the new format:

[code]

where "path" is the path _inside_ the container.

[2016-03-02 03:10] dustymabe commented on #193
@aweiteka @goern @cdrage ^^. Let's flesh this out and get it settled.

[2016-03-02 08:03] goern commented on #193
@jberkus you are right for some cases, it could be clever to bind that volume to a specific path within the container/application context. I would make it a required attribute.

In any way we can have a path attribute within the persistentVolume object without changing the spec (as you are free to add whatever you want to the yaml), while defining its meaning/semantics in the Atomic App context.

[2016-03-02 20:24] dustymabe commented on #193
Meant to also add @vpavlin

So we should add it as a required attribute?

I'd rather not deviate too much from the spec. This becomes a management headache in the future.

[2016-03-03 09:07] goern commented on #193
uh oh... sorry, **_wouldn't**_ make it a required attribute

ACK, so I'll have a look at it early next week, or you send in a PR?

[2016-03-03 22:25] dustymabe commented on #193
@goern if you don't have something by early next week then please send a PR yourself.

@cdrage, can we get the ball rolling on adding support for this to Atomic App? And we really need to get some of our Nulecule Library examples to show off this feature.

[2016-03-07 23:41] jberkus opened #201 "Support SECRETS as requirement type"
We need to have a way in the spec to offer support for Secrets.  In the case of Docker, this would be ENV variables passed by a file, or something.  For Kubernetes, this would be a Secrets mount.

[2016-03-08 06:39] goern commented on #201
##

Principal Software Engineer - Systems Design & Engineering
Mobile: +49 171 2801345

Red Hat GmbH, http://www.de.redhat.com/, Sitz: Grasbrunn,
Handelsregister: Amtsgericht München, HRB 153243,
Geschäftsführer: Paul Argiry, Charles Cachera, Michael Cunningham, Michael
O'Neill

[2016-03-08 16:54] jberkus commented on #201
Sure, "I want to deploy a database-backed web application".

This requires two things in the way of secrets:
1. We need to share database username/passwords for the web application
2. We need to share different ones depending on the environment (test, staging, prod)

The reason to support them in Nulecule is that we want this to work even if the developer is using Docker on their desktop and ops i

[2016-03-08 19:17] goern commented on #201
What is the difference between what you propose and the use of parameters and answers.conf to parameterize a deployment of an Atomic App? If you have a look at https://github.com/projectatomic/nulecule-library/blob/master/wordpress-centos7-atomicapp/Nulecule#L17 you see the db_user and db_pass parameters that could be used to parameterize the mariadb database backend used by the wordpress web fron

[2016-03-09 04:05] jberkus commented on #201
The main issue is that Secrets generally contain stuff which you don't want going into a poorly secured source code repo (or even a public one), the way answers.conf generally do.  Such as database passwords.

That's why we have Kubernetes secrets, Vault, and similar technologies.

[2016-03-09 07:51] goern commented on #201
Understood, I think you exactly mentioned the reason why secrets are not within a Nulecule file (because it is public, as part of the container image) and why answers.conf should not be on a public repo (as it may contain environment specific corporate confidential information).

From my point of view the way to go it:
1. declare a parameter in the Nulecule file, so that the deployment guy knows w

[2016-03-09 18:10] jberkus commented on #201
@goern I see what you're saying.  Question is: is declaring the required params (which will be supplied by secrets) sufficient?   I suppose if they are params with no defaults, that makes sense.

If we're taking that tack, then this becomes an implementation issue for atomic.app

[2016-03-09 20:40] goern commented on #201
Ja, think so. But I would say, that 'the secrets (username,password) are declared within the Nulecule file, and their values need to be provided during the parameterization of the deployment'... so the last part refers to atomicapp (the deployment guy role) and the first part to the ISV/developer roles.

[2016-03-13 21:49] cliffbdf opened #202 "Documentation items that are not as clear as they could be"
I am reading "Getting Started with Nulecule”, and it is quite unclear to me. I am a longtime user of docker but new to kubernettes, atomic, and nulecule. If these things are unclear to me, then they are probably unclear to others who are new to nulecule and kubernettes. The confusing items are,
1. "In the Nulecule file, create one or more lists of things under graph."

What can “things” be? Contai

[2016-03-14 14:35] cdrage commented on #202
Hi @cliffbdf !

To be honest, the `Nulecule` spec documentation is lacking in terms of developer experience. Recently we've done a complete overhaul of our implementation `AtomicApp` here: [atomicapp](https://github.com/projectatomic/atomicapp) both projects documentation is interchangeable as our implementation is 1-1 integration of the spec.

Feel free to have a look at our starting guide and ou

[2016-03-15 11:40] cliffbdf commented on #202
Thank you! This is very helpful!!

[2016-03-17 15:05] jberkus commented on #201
Closing in favor of atomic.app issue.

[2016-03-17 15:05] #201 closed, assigned to nobody

[2016-03-17 15:55] cdrage commented on #193
@goern Were you able to have a look at this? :)

Going forward once we have this finalized I can implement this into atomicapp, especially since this would particular help with implement persistent storage for the docker and openshift providers.

[2016-03-17 20:14] goern commented on #184
@rtnpro I think this could be closed, as I merged the global params PR

[2016-03-17 20:16] goern commented on #202
@cdrage would you like to put your comment into the README (in parts or as a whole)?

[2016-03-17 20:18] #184 closed, assigned to goern

[2016-03-17 22:35] cliffbdf commented on #202
Sure! Actually, what I can offer to do is to augment the README.md with a little more explanation on these things. I am very practiced at writing things clearly (have written four technical books) so clear writing is what I can offer - although the current README is actually pretty clear - it just needs a little more explanation of some things.

[2016-03-23 12:40] cdrage commented on #108
Closed via #196 congrats @rtnpro !

[2016-03-23 12:40] #108 closed, assigned to nobody

[2016-03-23 12:44] cdrage commented on #94
I think has been fixed right? (#87 closed)

[2016-03-28 15:58] jberkus opened #204 "Figure out a way to support ConfigMap as a resource"
[Kubernetes' 1.2's ConfigMap](http://kubernetes.io/docs/user-guide/configmap/) is a fundamentally new resource type; the resources we're currently using to cover, say, volumes doesn't really work for it.

How should we extend the nulecule spec to cover it, especially since there's not an analog in other providers?

[2016-06-01 13:59] cdrage opened #208 "Cleaning up Nulecule spec / easier to newcomers to read / remove all JSON"
Please feel free to have a look at: https://github.com/projectatomic/atomicapp/blob/master/docs/nulecule.md

At how I implemented this.

Could we change the Nulecule spec to something that's a lot simpler / easier-to-read similar to how I've done it with the `nulecule.md` documentation on Atomic App?

No more messy JSON + more simplified doc (just one README.md and associated files) that cleanly d

[2016-06-01 13:59] cdrage commented on #208
ping @bexelbie @goern @dustymabe

[2016-06-02 13:41] goern commented on #208
What did you try to archive with atomicapp/docs/nulecule.md ? It looks like you removed the JSON example, put one complete example at the end and removed some explanatory text.

[2016-06-02 14:20] cdrage commented on #208
@goern Better clarification / easier to understand.

I remove the JSON "scheme" examples from the /nulecule spec as even I found them confusing hwne trying to understand it.

Like I said it's a rough draft, so I'll be adding more explanatory details for each-section :) But yes, the complete example at the end is meant to show-case the entirety of the spec.

[2016-06-07 14:09] cdrage opened #210 "Removing graph(s) in favour of app-name"
[code]
#### to

[code]

[2016-06-07 16:02] goern commented on #210
any rational on this?

[2016-06-07 16:23] cdrage commented on #210
Clarity and way easier to learn. Consistent with a _compose style_ model of launching an application.

Thoughts @dustymabe ?

[2016-06-07 16:31] goern commented on #210
so you encode the name of the graph as an element name, I dont know if I would put that on the 'clarity list' ;)

[2016-06-07 17:24] cdrage commented on #210
@goern Are you able to clarify what you mean? Example please? :)

I know you specify `-name` but it's much simpler for clarity if you specify via an actual app name instead.

[2016-06-07 18:51] goern commented on #210
There is no example, please see https://github.com/kubernetes/kubernetes/issues/2004 and https://github.com/projectatomic/nulecule/issues/35 why we have made the decision how to design the things as the are.

[2016-06-07 18:51] #210 closed, assigned to nobody

[2016-06-07 18:55] goern commented on #204
ConfigMaps are a way to provide run time configuration to Kubernetes based applications. A Nulecule implementation (eg Atomic App) could use it to provide configurations to Pods.

For example, the username/password required to deploy a database, in Nulecule universe that is a param of an application, could be translated to a ConfigMap by Atomic App, if Atomic App deployed to Kubernetes/OpenShift.

[2016-06-08 15:09] cdrage commented on #210
Okay..

[2016-07-15 14:57] cdrage commented on #190
@aweiteka @goern @vpavlin
are you three still wanting this to be implemented? i could add this as an experimental feature in atomic app as I too have encountered cases where it would be ideal to have pre-scripting capabilities before deployment.

then again, as what @goern said, these are more adminstrative tasks than deployment :( since commonly a k8s or openshift cluster is located elsewhere tha

[2016-07-15 15:17] goern commented on #190
To me it feels like a 'super nice to have' feature, so please make a decision if it is valuable to AtomicApp. If so, consider using the 'run container via hook' pattern, see https://github.com/projectatomic/nulecule/issues/190#issuecomment-158445362

If you implement this experiment in AtomicApp, lets formalize it to the Nulecule Spec.

[2016-07-15 15:25] dustymabe commented on #190
hmm - can we come up with some specific examples? i could see this as useful in the "docker only" case but I don't really think it's something you want to do when you get to the kube/openshift/mesos level. If it's just for the docker case then does it really make sense?

[2016-07-15 15:30] cdrage commented on #190
yes, the ideal situation would be for the `docker` provider. for example, having a pre-hook before using http://www.projectatomic.io/blog/2015/08/fun-with-kubenetes-and-atomicapp/ would be ideal in order to create ssl certs, etc.

[2016-07-15 20:11] dustymabe commented on #190
yeah - here we are again at another case where a feature makes sense for the one set of providers vs the other. i.e. defining storage/secrets works good for "platforms" like kube/ose. pre scripts are nice for just the "docker" provider, etc.

[2016-11-02 19:50] eriknelson opened #212 "Support for binding parameter values together?"
Hello all,

A number of us are working at building some tooling around nulecule and improving the spec; a notable improvement would be support for linking two parameters together in some way so that their value is shared. A good example of this is the [etherpad-centos7-atomicapp](https://github.com/projectatomic/nulecule-library/blob/master/etherpad-centos7-atomicapp/Nulecule), where db_user, db_p

[2016-11-07 15:41] cdrage commented on #212
Hey @eriknelson so I see no problem with the spec changes. Although @rtnpro could perhaps jump in on this discussion in regards to his effort towards global variables.

Using "binds" sounds like a reasonable solution to the problem we've been having with essentially copy-and-pasting in variables all-over-the-place.

[2018-01-18 16:45] cdrage opened #213 "Unmaintained / Archive"
@jzb @kadel @aweiteka

We should archive (using the new GitHub feature) and add an [UNMAINTAINED] message to https://github.com/projectatomic/nulecule

[2018-01-18 17:18] jzb commented on #213
Also agree. @aweiteka ?

[2018-01-18 18:39] aweiteka commented on #213
ACK. Repo description updated.

[2018-01-18 18:39] #213 closed, assigned to nobody